@charset "utf-8";

#body {
    font-size: 18px;
}
.ham{
    display: none;
}

#header {
    width: 95%;
    height: 90px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 2%;
    top: 2%;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.tlogo {
    margin: 0 25px;
}

.gnb {
    margin-right: 3vw;
}

.gnb li {
    display: inline-block;
    overflow: hidden;
    margin-left: 3vw;
    font-family: 'Kdam Thmor Pro', sans-serif;
    position: relative;
}
.gnb li a::after{
    content: '';
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 0%;
    height: 9px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: skew(-20deg);
    transition: .4s;
}
.gnb li:hover a::after{
    width: 100%;
}

.ham{
    position: absolute;
    top: -25px;
    right: -15px;
    font-size: 35px;
    transform: scaleX(1.2);
    background-color: transparent;
    border: none;
    display: none;
}
.ham::before{
    content: '≡';
}
.ham:focus{
    outline: none;
}

/* header 끝*/

.sec1 {
    height: 68vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll {
    display: none;
}

.text h2 {
    font-size: 8rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text h3 {
    line-height: 50px;
    font-size: 2rem;
    font-family: 'Gowun Dodum', sans-serif;
}

.text p {
    font-family: 'Gowun Dodum', sans-serif;
    line-height: 1.8;
}

#section1 a {
    padding-top: 70px;
}

#section1 a span {
    position: absolute;
    bottom: 18%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

#section1 a p {
    height: 50px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-family: 'Fredoka One', cursive;
    border: 1px solid #000;
    border-radius: 90px;
    transition: .4s;
}
#section1 a p:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: .4s;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

/* 섹션 1 끝 */

.about_ani {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5% 0;
}

.about_wrap {
    width: 50%;
    padding: 5% 0;
}

.skill_ani {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10%;
}

.skill_wrap {
    width: 33%;
}

.skill_svg {
    padding: 10% 0;
}

.skill_ld{
    max-width: 15rem;
    width: 100%;
    height: auto;
}

.skill_cir{
    fill: none;
    max-width: 25rem;
}

.skill_cir circle:nth-of-type(1),
.skill_cir circle:nth-of-type(4){
    stroke-width: 3.5;
}
.skcir2{
    stroke-width: 1.5;
    stroke-dasharray: 7.5;
    animation: rotate 6s linear infinite;
    transform-origin: 50% 50%;
}

.skcir3{
    stroke-width: 1.5;
    stroke-dasharray: 10;
    animation: re-rotate 6s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes re-rotate {
    100%{
        transform: rotate(-360deg);
    }
}

.skcir6{
    stroke-width: 2.5;
    animation: disappear 5s linear infinite;
}

.skcir7{
    stroke-width: 2.5;
    animation: disappear 5s linear 2.5s infinite;
}

@keyframes disappear {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.skcir10{
    stroke-width: 2;
    stroke-dasharray: 2.5;
    transform-origin: center;
    animation: re-big-small 5s linear infinite;
}

.skcir11{
    transform-origin: center;
    animation: big-small 5s linear infinite;
}

@keyframes big-small {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes re-big-small {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}


.skill_desc {
    padding: 5% 0;
}

/* 섹션 2 끝 */

.js_cont {
    padding: 10% 0;
}

.js_cont,
.js_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    width: 80vw;
    height: 80%;
    padding: 5%;
}

#exep {
    width: 350px;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    outline: 1px solid rgb(136, 136, 136);
    padding: 0 10px;
    margin: 20px auto;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

button {
    padding: 0;
    width: 80px;
    height: 80px;
    margin: 5px;
    font-size: 24px;
    border-radius: 90px;
    cursor: pointer;
}

#btns {
    width: 460px;
    margin: 0 auto;
}

.bbtn {
    width: 130px;
}

.cal_desc {
    text-align: left;
}

/* 섹션 3 끝 */


/******************************* 애니메이션 섹션 *******************************/
.planet {
    width: 180px;
    height: 180px;
    background: url(../images/earth.png) no-repeat 0/100% 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    animation: shdowAni 10s linear infinite;
}

@keyframes shdowAni {
    0% {
        box-shadow: inset 20px 0px 6px rgba(0, 0, 0, .7);
    }

    25% {
        box-shadow: inset 0px 0px 6px rgba(0, 0, 0, .7);
    }

    50% {
        box-shadow: inset -24px 0px 6px rgba(0, 0, 0, .7);
    }

    75% {
        box-shadow: inset 4px -62px 19px rgba(0, 0, 0, .7);
    }

    100% {
        box-shadow: inset 20px 0px 6px rgba(0, 0, 0, .7);
    }
}

/* 애니메이션 1 planet */

.cube {
    position: absolute;
    width: 180px;
    height: 180px;
    top: calc(50% - 90px);
    left: calc(50% - 90px);
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(30deg);
    animation: rolling 5s linear infinite;
}

.cube>span {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    outline: 1px solid rgb(34, 34, 34);
}

.cube>span:first-child {
    background-color: #444444;
    transform: rotateY(0deg) translateZ(90px);
}

.cube>span:nth-child(2) {
    background-color: #b6b6b6;
    transform: rotateY(90deg) translateZ(90px);
}

.cube>span:nth-child(3) {
    background-color: #444444;
    transform: rotateY(180deg) translateZ(90px);
}

.cube>span:nth-child(4) {
    background-color: #b6b6b6;
    transform: rotateY(270deg) translateZ(90px);
}

.cube>span:nth-child(5) {
    background-color: #6b6b6b;
    transform: rotateX(90deg) translateZ(90px);
}

.cube>span:nth-child(6) {
    background-color: #6b6b6b;
    transform: rotateX(-90deg) translateZ(90px);
}

@keyframes rolling {
    to {
        transform: rotateX(370deg) rotateY(390deg) rotateZ(360deg);
    }
}

/* 애니메이션 2 cube */

.jump {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.jump span {
    padding: 40px 20px;
    display: table-cell;
    background-color: #000;
    animation: jump 2s infinite;
}

.jump>span:first-child {
    animation-delay: .1s;
}

.jump>span:nth-child(2) {
    animation-delay: .4s;
}

.jump>span:nth-child(3) {
    animation-delay: .65s;
}

.jump>span:nth-child(4) {
    animation-delay: .9s;
}

.jump>span:nth-child(5) {
    animation-delay: .15s;
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* 애니메이션 3 jump */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.loader {
    max-width: 18rem;
    width: 100%;
    height: auto;
    stroke-linecap: round;
}

.ani_cir1 {
    fill: none;
    stroke-width: 5.5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s linear infinite;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
    }

    50% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -1000;
    }
}

.ani_cir2 {
    fill: none;
    stroke-width: 5.5;
    stroke-dasharray: 400;
    animation: swing 3s ease-in-out infinite;
    transform-origin: 180px 180px;
    will-change: transform;
}

@keyframes swing {
    50% {
        transform: rotate(360deg);
    }
}

/* 애니메이션 4 draw */
/* 섹션 4 끝 */

.po_cont {
    padding: 8% 0;
}

.po_wrap {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 5% 4%;
    background-color: rgba(255, 255, 255, 0.8);

}
.po_desc{
    padding: 0px 2%;
}

.po_desc p a::after, .about_desc p a::after{
    content: '';
    background-image: url(../images/blank.png);
    background-size: contain;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 3px 5px 3px;
}
.po_wrap div img {
    width: 45vw;
}
/* 섹션 5 끝 */

/* 하단영역 */

.end{
    text-align: center;
    padding: 2% 0;
}

.ScrollButton {
    position: fixed;
    right: 35px;
    cursor: pointer;
    z-index: 10;
    /* display: none; */
}
#TopButton {
    bottom: 45px;
}
#TopButton img{
    max-width: 50px;
    height: auto;
}