@charset "utf-8";

#body {
    font-size: 18px;
}

#header {
    width: 95%;
    height: 90px;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 2%;
    top: 2%;
    border: 1px solid rgb(204, 204, 204);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.tlogo {
    margin: 0 25px;
}

.gnb {
    margin-right: 3vw;
}

.gnb li {
    display: inline-block;
    overflow: hidden;
    margin-left: 3vw;
    font-family: 'Kdam Thmor Pro', sans-serif;
}
/* header 영역 */

.sec1 {
    height: 68vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.scroll {
    display: none;
}

.text h2 {
    font-size: 8rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text h3 {
    line-height: 50px;
    font-size: 2rem;
    font-family: 'Nanum Gothic', sans-serif;
}
.text p{
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 25px;
}

#section1 a {
    padding-top: 70px;
}

#section1 a span {
    position: absolute;
    bottom: 15%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

#section1 a p{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: 'Fredoka One', cursive;
    text-shadow: 1px 1px 2px #fff;
}

@-webkit-keyframes sdb05 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes sdb05 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.about_ani {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about_wrap{
    width: 50%;
}
.skill_ani {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.skill_wrap{
    width: 33%;
}
