@charset "utf-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Montserrat:wght@300&family=Noto+Serif+KR&family=Fredoka+One&family=Kdam+Thmor+Pro&family=Nanum+Gothic:wght@700&display=swap');
/* 
font-family: 'Fredoka One', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Gowun Dodum', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
*/

#section1, #section2, #section4 {
    position: relative;
}

section > div {
    padding-top: 20vh;
}

/* flex 클래스 */
.animation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10%;
}

/* 공통 클래스 */
.inner{
    max-width: 80%;
    margin-left: 13%;
}
.bgi{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
}
.ani_cont {
    width: 45%;
}

.ani_wrap {
    width: 100%;
    height: 400px;
    position: relative;
}
.ani_desc h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.ani_desc p {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 2rem;
    line-height: 1.8;
}