@charset "utf-8";
@import url(reset.css);
@import url(common.css);
@import url(core.css);

.bgi1{
    background-image: url(../images/bgi001.jpg);
    height: 100vh;
}
.bgi3{
    background-image: url(../images/bgi003.jpg);    
}
.bgi5{
    background-image: url(../images/bgi005.jpg);    
}